
.carousel_section{
  margin-top: 2.5rem;
  height: 100vh;

}

.carousel-control {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel-indicators {
    bottom: 10px; /* Ajusta la posición vertical de los indicadores según sea necesario */
  }