.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;

  bottom: 0; /* Establece la posición inferior en 0 */
  width: 100%; /* Asegura que el footer tenga el ancho completo de la ventana */
}


.footer h3 {
  margin-bottom: 20px;
  color: #ffd700;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer a:hover {
  color: #ffd700;
}

.footer .subscribe form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer .subscribe input {
  padding: 10px;
  width: 250px;
  margin-right: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.footer .subscribe button {
  background-color: #ffd700;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer .subscribe button:hover {
  background-color: #333;
  color: #ffd700;
}

.footer .useful_links ul {
  display: flex;
  justify-content: center;
}

.footer .useful_links li {
  margin: 0 15px;
}

.copyright {
  text-align: center;
  padding-top: 0.5rem;
}